.projectsList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.title {
    font-size: 150%;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

.info {
    font-size: 120%;
    text-align: center;
    max-width: 500px;
    margin: 50px auto;
}

.projectCart {
    max-width: 350px;
    /*background-color: #efefef;*/
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.projectTitle {
    font-size: 150%;
    margin-bottom: 20px;
}

.projectSummary {
    font-size: 90%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px){
    .projectCart {
        margin: 50px 0;
        padding: 0px;
        max-width: 100%;
    }
    .projectsList {
        justify-content: center;
    }
}