
.title {
  font-size: 150%;
  text-align: center;
  margin: 50px auto;
}
.resultsList {
  text-align: center;
  width: 500px;
  margin: 50px auto;
}
.resultRow {
  margin: 15px;
  width: 100%;
  display: flex;
  /*background-color: red;*/
}
.number {
  padding-right: 20px;
  width: 20%;
  text-align: right;
}
.projectName {
  font-weight: 800;
  font-size: 16px;
  text-align: left;
}

@media only screen and (max-width: 600px){
  .number {
    width: 40px;
  }
  .resultRow {
    padding-right: 20px;
    width: 100%;
  }
  .resultsList {
    padding: 0;
    width: 100%;
  }
}