body {
  margin: 0;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;


  max-width: 1200px;
  /*font-size: 36px;*/
  /*line-height: 50px;*/
  /*font-family: e-Ukraine;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
